/* spacing */

%space-t {margin-top:1.2em;}
%space-t-s {margin-top:0.6em;}

%space-b {margin-bottom:1.2em;}
%space-b-s {margin-bottom:0.6em;}

%tight-t {margin-top:0; padding-top:0;}
%tight-b {margin-bottom:0; padding-bottom:0;}

%space-r {margin-right:1.2em;}
%space-r-s {margin-right:0.6em;}