/* blockquotes */

blockquote, %blockquote {@extend %primary-font; font-weight:100; line-height:1.8; font-style:italic; letter-spacing:0.01em; z-index:1; display:block; font-size:1.3em; margin:0;}
	blockquote:before, %blockquote:before, q:before {content:"\201E" ; font-size:3em; margin-right:5px; line-height:0.1; display:inline;}
	blockquote:after, %blockquote:after, q:after {content:"\201D" ; font-size:3em; margin-left:5px; display:inline; position:relative; top:16px; line-height:0.1; }