/* rounded corners */
	
	@mixin rounded($top-left:5px, $top-right:5px, $bottom-right:5px, $bottom-left:5px) {
		@extend %border-box;
		border-radius: $top-left $top-right $bottom-right $bottom-left; 
		-moz-border-radius: $top-left $top-right $bottom-right $bottom-left ; 
		-webkit-border-top-left-radius:$top-left;
		-webkit-border-top-right-radius:$top-right; 		
		-webkit-border-bottom-right-radius:$bottom-right; 
		-webkit-border-bottom-left-radius:$bottom-left;	
	} 			
	
	%circle {-webkit-border-radius:50%; -moz-border-radius: 50%; border-radius: 50%;}	
	
	%rounded {@include rounded;}
    %rounded-xl {@include rounded(8px, 8px, 8px, 8px);}
	%rounded-t {@include rounded(5px, 5px, 0, 0);} 
    %rounded-b {@include rounded(0, 0, 5px, 5px);} 
	%rounded-l {@include rounded(5px, 0, 5px, 0);} 
	%rounded-r {@include rounded(0, 5px, 5px, 0);}
	
/* end rounded corners */