


	
/* icon fonts */

@font-face {
	font-family: 'icomoon';
	src:url('icon-fonts/fonts/icomoon.eot');
	src:url('icon-fonts/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('icon-fonts/fonts/icomoon.woff') format('woff'),
		url('icon-fonts/fonts/icomoon.ttf') format('truetype'),
		url('icon-fonts/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;	
}

@mixin font-icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;	
}


.icon-search:before {@include font-icon;
    content: "\f002";
}
.icon-menu:before {@include font-icon;
    content: "\e5d2";
}
.icon-chevron-left:before {@include font-icon;
    content: "\f053";
}
.icon-chevron-right:before {@include font-icon;
    content: "\f054";
}
.icon-chevron-up:before {@include font-icon;
    content: "\f077";
}
.icon-chevron-down:before {@include font-icon;
    content: "\f078";
}
.icon-home:before {@include font-icon;
    content: "\e001";
}
.icon-map:before {@include font-icon;
    content: "\e003";
}
.icon-compass:before {@include font-icon;
    content: "\e004";
}
.icon-bubbles:before {@include font-icon;
    content: "\e005";
}
.icon-users:before {@include font-icon;
    content: "\e006";
}
.icon-umbrella:before {@include font-icon;
    content: "\e007";
}
.icon-cloud:before {@include font-icon;
    content: "\e008";
}
.icon-map-pin-fill:before {@include font-icon;
    content: "\e009";
}
.icon-comment-alt2-fill:before {@include font-icon;
    content: "\e000";
}
.icon-comment-alt2-stroke:before {@include font-icon;
    content: "\e002";
}
.icon-checkmark:before {@include font-icon;
    content: "\e00a";
}
.icon-check-alt:before {@include font-icon;
    content: "\e00b";
}
.icon-x:before {@include font-icon;
    content: "\e00c";
}
.icon-x-altx-alt:before {@include font-icon;
    content: "\e00d";
}
.icon-rss:before {@include font-icon;
    content: "\e00e";
}
.icon-wrench:before {@include font-icon;
    content: "\e00f";
}
.icon-cog:before {@include font-icon;
    content: "\e010";
}
.icon-calendar-alt-fill:before {@include font-icon;
    content: "\e011";
}
.icon-mail:before {@include font-icon;
    content: "\e012";
}
.icon-heart-fill:before {@include font-icon;
    content: "\e013";
}
.icon-document-alt-stroke:before {@include font-icon;
    content: "\e014";
}
.icon-plus:before {@include font-icon;
    content: "\e015";
}
.icon-plus-alt:before {@include font-icon;
    content: "\e016";
}
.icon-minus:before {@include font-icon;
    content: "\e017";
}
.icon-minus-alt:before {@include font-icon;
    content: "\e018";
}
.icon-move:before {@include font-icon;
    content: "\e019";
}
.icon-move-alt2:before {@include font-icon;
    content: "\e01a";
}
.icon-equalizer:before {@include font-icon;
    content: "\e01b";
}
.icon-key-stroke:before {@include font-icon;
    content: "\e01c";
}
.icon-new-window:before {@include font-icon;
    content: "\e01d";
}
.icon-lightbulb:before {@include font-icon;
    content: "\e01e";
}
.icon-spin:before {@include font-icon;
    content: "\e01f";
}
.icon-reload-alt:before {@include font-icon;
    content: "\e020";
}
.icon-loop-alt1:before {@include font-icon;
    content: "\e021";
}
.icon-arrow-left:before {@include font-icon;
    content: "\e022";
}
.icon-arrow-left-alt1:before {@include font-icon;
    content: "\e023";
}
.icon-arrow-right:before {@include font-icon;
    content: "\e024";
}
.icon-arrow-right-alt1:before {@include font-icon;
    content: "\e025";
}
.icon-arrow-up:before {@include font-icon;
    content: "\e026";
}
.icon-arrow-up-alt1:before {@include font-icon;
    content: "\e027";
}
.icon-arrow-down:before {@include font-icon;
    content: "\e028";
}
.icon-arrow-down-alt1:before {@include font-icon;
    content: "\e029";
}
.icon-steering-wheel:before {@include font-icon;
    content: "\e02a";
}
.icon-play:before {@include font-icon;
    content: "\e02b";
}
.icon-pause:before {@include font-icon;
    content: "\e02c";
}
.icon-stop:before {@include font-icon;
    content: "\e02d";
}
.icon-fullscreen:before {@include font-icon;
    content: "\e02e";
}
.icon-fullscreen-alt:before {@include font-icon;
    content: "\e02f";
}
.icon-iphone:before {@include font-icon;
    content: "\e030";
}
.icon-battery-empty:before {@include font-icon;
    content: "\e031";
}
.icon-battery-half:before {@include font-icon;
    content: "\e032";
}
.icon-battery-full:before {@include font-icon;
    content: "\e033";
}
.icon-compass2:before {@include font-icon;
    content: "\e034";
}
.icon-at:before {@include font-icon;
    content: "\e035";
}
.icon-info:before {@include font-icon;
    content: "\e036";
}
.icon-left-quote:before {@include font-icon;
    content: "\e037";
}
.icon-right-quote:before {@include font-icon;
    content: "\e038";
}
.icon-list:before {@include font-icon;
    content: "\e039";
}
.icon-book-alt2:before {@include font-icon;
    content: "\e03a";
}
.icon-pen-alt2:before {@include font-icon;
    content: "\e03b";
}
.icon-pen:before {@include font-icon;
    content: "\e03c";
}
.icon-layers:before {@include font-icon;
    content: "\e03d";
}
.icon-image:before {@include font-icon;
    content: "\e03e";
}
.icon-camera:before {@include font-icon;
    content: "\e03f";
}
.icon-chart-alt:before {@include font-icon;
    content: "\e040";
}
.icon-bars:before {@include font-icon;
    content: "\e041";
}
.icon-eye:before {@include font-icon;
    content: "\e042";
}
.icon-user:before {@include font-icon;
    content: "\e043";
}
.icon-clock:before {@include font-icon;
    content: "\e044";
}
.icon-home2:before {@include font-icon;
    content: "\e045";
}
.icon-lock-stroke:before {@include font-icon;
    content: "\e046";
}
.icon-lock-fill:before {@include font-icon;
    content: "\e047";
}
.icon-tag-stroke:before {@include font-icon;
    content: "\e048";
}
.icon-tag-fill:before {@include font-icon;
    content: "\e049";
}
.icon-moon-stroke:before {@include font-icon;
    content: "\e04a";
}
.icon-moon-fill:before {@include font-icon;
    content: "\e04b";
}
.icon-star:before {@include font-icon;
    content: "\e04c";
}
.icon-paperclip:before {@include font-icon;
    content: "\e04d";
}

