// responsive styles for discoverize.com - created 5.6.2016 - by andrej telle - teamaton.com

@media screen and (min-width:984px){

    // layout
    .center-layout {width:984px;}
    .bx25 {width:25%;}


    // blog page layout 
    .content-area {@include bx(75%); padding-right:24px;}
    .widget-area {@include bx(25%);}
    .content-area-full-width {width:100%; padding-right:0;}

    // header, nav, menu
    .main-navigation.toggled {position:static;}
    .menu-toggle {display:none;}
    .nav-menu {@include group; display:block; padding:0; margin:0; background:none; border:none;
        li {float:left; border:none;}
        a {min-width:0; border:none; padding:40px 12px 36px;}
        }
    .main-navigation .menu-item-has-children > a {padding-right:32px;}
    .dropdown-toggle {background:none; width:32px; height:32px; margin-top:34px;}

    .sub-menu {position:absolute; min-width:200px;
        li {float:none;}
        a {padding-top:12px; padding-bottom:12px;}
        .dropdown-toggle {margin-top:8px;}
        }
    .sub-menu.toggled-on, .nav-menu li:hover .sub-menu {display:block;}



    // widget
    .widget {width:100%; float:none;}

}

