/* discoverize design scss */

	@charset "UTF-8";

/* scss file imports */

	/* custom local imports */

	@import "icon-fonts";
	@import "icon-fonts-settings";
	@import "colors";

	/* default imports via local cssLibrary Project - found under: https://github.com/andrejandrej/cssLibrary */

	@import "base/normalize";
	@import "base/layout";
	@import "base/links";
	@import "base/lists";
	@import "base/typography";
	@import "base/rounded-corners";
             
	@import "elements/circle";
	@import "elements/shadows";
	@import "elements/blockquotes";
	@import "elements/border-heading";
	@import "elements/buttons";	
	@import "elements/icons";
	@import "elements/image-display";
	@import "elements/indent-line";
	@import "elements/info-text";	
	@import "elements/number-circle";
	@import "elements/rounded-corners";	         
	@import "elements/specials";
	@import "elements/transitions";
	@import "elements/triangles";
             
	@import "blocks/nav";
	@import "blocks/tables";
	@import "blocks/wizard";
	@import "blocks/forms";

	

/* end imports */

/* design discoverize.com - andrej telle - teamaton.com */

body {background:url(img/bg-header.jpg) no-repeat 50% 40px, url(img/bg-body.png) repeat-x 0 42px $bg-body;}

.special {color:#5bb75b;}

/* header */
	
	.site-header {@include group; font-family:"open Sans"; background:$primary;}	
	.header-inside {@extend .center;}
	.hd1 {@extend .container, .space-l-r;}
	.site-logo {float:left;}
	.custom-logo-link {display:inline-block; padding:18px 8px 16px 0;}
	.logo {color:$txt-bg; display:block; float:left; padding-top:6px; margin-right:64px; width:auto; }
	.logo span {position:relative; top: -0.17em; font-weight:100; font-size:3.2em; padding-left:0.1em;}
	.logo:hover {background:none;}	
	.logo img {padding-top:12px;}	

	.site-branding {float:left; color:$txt-on-primary; margin-right:2em;}
	.site-title {padding:4px 0 0 0;}
	.site-title-1 {color:$txt-on-primary; font-weight:100;}
	.site-description {@include primary-font; font-weight:100; font-size:0.885em; text-align:right; padding:0; margin-top:-19px; padding-right:1px;}
	
	.dropdown ul {@extend .sub-nav;}
	.dropdown:hover .sub-nav {visibility: visible; height:auto; opacity:1;}
	
	.menu-main-menu {@extend .nav;}
	.menu-mini-nav {@extend .mini-nav;}

	// nav via twentyfifteen wordpress theme

		.main-navigation {margin-left: 0.8em; float:left;
			a {display: block; padding: 0.8em 0; position: relative; text-decoration: none;}
			a:hover {background:lighten($primary,6);}
			ul {list-style: none;}
			li {position: relative;}			
			> div {float:left;}
			}
		

		.nav-menu {display:none; border:solid 1px darken($primary,10); border-bottom:none; padding:0;
			a {padding:0.7em 0.8em 0.6em; color:$txt-on-primary; border-bottom:solid 1px darken($primary,10);}
			}

		.main-navigation.toggled {z-index:1; position:fixed; bottom:2em; padding:0; margin:0; left:0;
			.nav-menu {display: block; max-height:calc(100vh - 8em); overflow-y:auto;}
		}

		.main-navigation .current-menu-item > a,
		.main-navigation .current-menu-ancestor > a {
			font-weight: 700;
		}

		.main-navigation .nav-menu > ul > li:first-child,
		.main-navigation .nav-menu > li:first-child {
			border-top: 0;
		}

		.main-navigation .menu-item-has-children > a {
			padding-right: 48px;
		}

		.main-navigation .menu-item-description {
			color: #707070;
			color: rgba(51, 51, 51, 0.7);
			font-family: "Noto Sans", sans-serif;
			font-size: 12px;
			font-size: 1.2rem;
			font-weight: 400;
			line-height: 1.5;
			margin-top: 0.5em;
		}

		.no-js .main-navigation ul ul {
			display: block;
		}

		.dropdown-toggle {@extend .icon-chevron-down;
			background: darken($primary,5);
			border:none;
			color:$txt-on-primary;
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
			height: 42px;
			padding: 0;
			position: absolute;
			text-transform: lowercase; /* Stop screen readers to read the text as capital letters */
			top: 0;
			right: 0;
			width: 42px;

			&:hover, &:focus {background:darken($primary,20);}
		}

		.dropdown-toggle:hover,
		.dropdown-toggle:focus {
			background-color: #eaeaea;
			background-color: rgba(51, 51, 51, 0.1);
		}

		.dropdown-toggle:focus {
			outline: 1px solid #c1c1c1;
			outline: 1px solid rgba(51, 51, 51, 0.3);
		}

		.dropdown-toggle.toggle-on {@extend .icon-chevron-up;}

		.nav-menu {margin-bottom:3em;
			li {padding:0;}
			a {background:$primary; color:$txt-on-primary; min-width:250px;}
		}

		// text search in header

		.header-widget {float:right;
			form {background:none; margin:0; padding:34px 0 0 0;}
			.search-submit {@include rounded(2px, 2px, 2px, 2px); @extend .icon-search; border:solid 1px darken($primary,15); background:darken($primary,10); color:$txt-on-primary; padding:3px 7px 2px; position:relative; top:2px; margin-left:2px;}
			}

		// open nav button
		.menu-toggle {@extend .icon-menu; position:fixed; z-index:1000; bottom:1em; left:1em; background: $primary; color:$txt-on-primary; border:solid 1px darken($primary,12); padding:0.5em 0.8em 0.4em;
			transition:ease-out all 400ms;
			&.hide {bottom:-2.5em;}
			}
		.toggled .menu-toggle.hide {bottom:1em;}

		.sub-menu {display:none; padding-left:0;
			a {padding-left:2em;}
			.sub-menu a {padding-left:3em;}
			}


		.sub-menu.toggled-on {display:block;}

	// end nav 

/* end header */

/* content */
	
	.site-content {@extend .center; margin-bottom:3em; min-height:500px;}
	
	/* messages */
	
		.message {@extend .wrapper; text-align:center;}
	
	/* end messages */
	
	/* presentation block on top */

		.present {@extend .container, .space-l-r, .space-b-xl;}
		.pr1 {color:$primary; margin:0; padding-top:0.5em;}
		.pr11, .pr12 {color:$secondary; margin:0; padding-top:0.5em; font-size:2em;}	
		.f13 {@extend .bx25;}
		.f11, .f12 {color:$primary; text-align:right; margin:0; line-height:2;}
		.f11 {padding-top:0.2em;}
		.f12 {font-size:1.5em; padding-top:0; margin-top:0; color:$secondary;}	
		.f131 {@extend %button-primary, %button-l, .icon-mail, %icon-space-l; margin-right:12px;}
		.f132 {@extend %button-secondary, %button-l, .icon-new-window, %icon-space-l;}
		.site-description span {display:block;}
		
		.f15 {text-align:right;}

		.brand {position:absolute; top:153px; margin-left:-330px; left:50%; display:block;}
		.my-page img.brand {border:none;}

	/* end presentation block */
	

	#layout-tripel-container {margin-top:-5em;}
	.tripel-first, .tripel-second, .tripel-third {@extend .bx33; text-align:center;}
	
	.blog-posts, .archive-trail + ul {@extend %list-no-bullets;}
	.blog-posts li, .archive-trail + ul li {@extend .indent-line;}
	.blog-posts li:first-child, .archive-trail + ul li:first-child {border-top:none;}
	.blog-posts li:last-child, .archive-trail + ul li:last-child {border-bottom:none;}	
	
	.entry-meta {font-size:0.8em; font-style:italic;
		.avatar-wrapper {float:left; margin-right:16px; margin-top:-8px;}
		.avatar {@include circle;}
		}	
	.posted-on {@extend .icon-clock, %icon-small; margin-right:16px;}
	.byline {@extend .icon-user, %icon-small;margin-right:16px;}
	.cat-links {@extend .icon-paperclip, %icon-small; margin-right:16px;}
	.tags-links {@extend .icon-tag-stroke, %icon-small;}
	.comment-count {@extend .icon-bubbles, %icon-small;}
	h2.comment-count {@extend .icon-bubbles, %icon-50; font-style:normal; font-size:2.5em; margin-top:2em;}
	
	img {max-width:100%; height:auto;}
	.blog-post img, .my-page img {border:solid 1px #ccc;}
	.blog-post img {@extend .img-frame;}
	.blog-post img.img-no-frame {@extend .img-no-frame;}
	.blog-post .special-info img.logo {float:left; margin:0.8em 1em 1.6em 0; @extend .img-no-frame;}	
	.blog-post .special-info img.logo-small {margin:0 1em 0.5em 0;}	
	.blog, .blog-post, .my-page {padding-right:32px;}
	.brand img {border:none;}
	
	.archives ul.archiveMonthList {margin-top:1em;}
	
	.user-voice-widget {@extend .wrapper}
	
	// widget 

		.widget-area {background:$bg-grey-transparent; margin-top:3em;
			ul {@extend %list-no-bullets;}
			h1 {font-size:1.8em;}
			h2 {font-size:2.2em; padding:0.2em 0 0;}
			}
		.widget {@include bx(25%); @include group; padding:0 12px; float:left; }

		.widget-demo-sidebar, .widget-kontakt-sidebar {border-top: solid 1px #ccc; font-size:0.8em; text-align:center; padding: 1em 0 2em 0;}

		.as72 {@extend %button-primary, .icon-mail, %icon-space-l, %button-xl; width:100%; }		
		.as71, .as71:hover {@include button-custom($orange1, $txt-on-orange1); @extend .icon-new-window, %button-xl,  %icon-space-l; width:100%;}	
	
	/* end aside second */
	
	/* contact form */
	
		#contact-us {@extend .pure-form-aligned;}
		.contact-button {@extend %button-primary, %button-xl, .icon-mail, %icon-space-l;}

		// exception for contact page - works with jquery snippet inside contact-sidebar-widget
		.widget-contact-information-wrapper {margin-top:136px;}

		.ci11 {padding-top:0;}
		.ci12 {text-align:center;}
		.ci13 {@extend %img-round; display:inline-block;}
		
	/* end contact form*/
	
	.create-iframe-content {padding-right:0;}	
	
	.comments {list-style:none;}
	.comment .text {@extend .wrapper, %blockquote; font-size:1em;}
	
	/* comment form */
	
		.comment-form {@extend .pure-form-aligned;}
		.comment-form ol {list-style:none; padding:0;}
		.comment-form li {@extend .pure-control-group;}
		.comment-form input {@extend .pure-input-1-3;}
		.comment-form .what textarea {@extend .pure-input-2-3;}
		
		.comment-form legend {font-family:open sans; font-weight:400; font-size:2em;}
		
		.button-comment-form {margin-left:12em;}
	
	/* end comment form */
	
	// post navigation 
		.post-navigation {text-align: left;	overflow: hidden;}

		.nav-links {margin: 0 auto; padding: 0 .4em;}

		.post-navigation {margin:2em 0;
			a {background:transparentize($primary,0.8); display: block; width: 100%; text-decoration: none; padding: 1em; margin-bottom:1em;}
			a:hover {background:$primary; 
				.post-title {text-decoration:underline;}
				}
			.meta-nav {display:block;}
			.post-title {font-size:1.3em; padding-top:0.6em; display:block;}
			}

		.nav-previous .meta-nav {@extend .icon-arrow-left;
			&:before {margin-right:8px;}
			}
		.nav-next .meta-nav {@extend .icon-arrow-right-after;
			&:after {margin-left:8px;}
			}

		@media screen and (min-width: 30em) {

			.nav-links {
				display: flex;
				justify-content: space-between;
				align-items: stretch;
				padding: 0;
			}

			.post-navigation .nav-previous {
				display: flex;
				align-items: stretch;
				float: left;
				width: 48%;
			}

			.post-navigation .nav-next {
				display: flex;
				align-items: stretch;
				float: right;
				text-align: right;
				width: 48%;
			}
		}

	
	/* start */
		
		.start h2 {padding-top:2.5em;}
	
		.st11, .st12 {@extend .bx50;}
		.st12 {margin-top:8px;}
		.st110 {@extend %img-round, %img-left; margin-top:-5px;}
		.st111 {padding-top:0; margin-top:0; @include group; margin-bottom:1em;}
		
		.st25 {@extend .italic;}
		
		.st21, .st31, .st41, .st51, .st71, .st81 {@extend .clear-l; text-align:center;}
		
		.st21, .st31, .st41, .st51, .st71, .st81, .st91 {@extend .border-heading;}
		
		.st22, .st23, .st24, .st42, .st43, .st44 {@extend .bx33;}
		
		.st32, .st33, .st34, .st35 {@extend .bx25;}
			
		
		.st221 {@extend .icon-home, .center; @include circle-icon(128px, $primary, $bg-body); }
		.st231 {@extend .icon-bubbles, .center; @include circle-icon(128px, $secondary, $bg-body);}
		.st241 {@extend .icon-users, .center; @include circle-icon(128px, $orange1, $bg-body);}
		
		.st320 {@extend .icon-equalizer, .center; @include circle-icon(96px, $primary, $bg-body);}
		.st330 {@extend .icon-list, .center;  @include circle-icon(96px, $secondary, $bg-body);}
		.st340 {@extend .icon-layers, .center;  @include circle-icon(96px, $orange1, $bg-body);}
		.st350 {@extend .icon-iphone, .center;  @include circle-icon(96px, $purple1	, $bg-body);}
		
		.st222, .st232, .st242, .st321, .st331, .st341, .st351, .st421, .st431, .st441, .st521, .st531, .st422, .st432, .st442, .st541, .st551, .st561, .st571, .st581, .st591, .st501 {text-align:center;}
		
		.st52 {@extend .bx33;}
		
		.st521 {@extend .icon-key-stroke, %icon-space-l;}	
		.st531 {@extend .icon-lightbulb, %icon-space-l;}
		.st541 {@extend .icon-cog, %icon-space-l;}
		.st551 {@extend .icon-bubbles, %icon-space-l;}
		.st561 {@extend .icon-compass, %icon-space-l;}
		.st571 {@extend .icon-bars, %icon-space-l;}
		.st581 {@extend .icon-wrench, %icon-space-l;}
		.st591 {@extend .icon-users, %icon-space-l;}
		.st501 {@extend .icon-pen, %icon-space-l;}	
			
		.st72 {text-align:center;}		
		.st741 {@extend %button-primary, %button-xl, .icon-mail, %icon-space-l; width:80%}		
		.st731, .st731:hover {@include button-custom($orange1, $txt-on-orange1); @extend %button-xl, .icon-new-window, %icon-space-l; width:80%}	
		

		/* wizard */
		.st82, .st83, .st84 {@extend .bx33; color:#fff; height:220px; margin-bottom:2em; padding-top:0;}	
				
		.st82 {background:$secondary; @extend .triangle; width:31%}
		.st82:after {@include triangle-r(50px, $secondary);}
		
		.st83 {background:darken($secondary,8); @extend .triangle; width:35%; padding-left:60px;}
		.st83:after {@include triangle-r(50px, darken($secondary,8));}
		
		.st84 {background:darken($secondary,15); width:34%; padding-left:60px}
		
		.st821, .st831, .st841 {@include number-circle($bg-body, $txt-color, 1.6em);}
		.st82:hover .st821, .st83:hover .st831, .st84:hover .st841 {background:$orange1; color:$bg-body;}
		
	/* end start */
	
	/* features */
		
		.features-mypage {padding-right:0;}
		.ft52 {@extend .bx33; text-align:center;}
	
		.ft22 {@extend .icon-list, %icon-space-l;}
		.ft23 {@extend .icon-iphone, %icon-space-l;}
		.ft24 {@extend .icon-map-pin-fill, %icon-space-l;}
		.ft25 {@extend .icon-cog, %icon-space-l;}
		.ft26 {@extend .icon-equalizer, %icon-space-l;}
		.ft27 {@extend .icon-wrench, %icon-space-l;}		
		.ft28 {@extend .icon-pen, %icon-space-l;}		
		
		.ft41 {background:$bg-grey-transparent; padding:2em; margin-top:2em; text-align:center; clear:both;}
		
		.ft11 {@extend .border-heading;}
	
	/* end features */

	/* newsletter widget */
		
		/* content */	
		.widget-newsletter-abo-main, .widget-newsletter-abo-sidebar {
			@extend .wrapper; padding:0.5em; text-align:center;
			h2 {padding-top:0.3em;}
			form {padding:0.5em; margin:0; padding:0; background:none;}
			label {font-style:italic; font-weight:normal;}
			input {@extend %border-box;width:100%; margin-top:0.5em;}
			.button {@extend %button-secondary, %border-box; width:100%; margin-top:0.5em;}
		}

		.widget-newsletter-abo-sidebar {
			margin:-12px -12px 1em -12px; padding:1em; 
			label {text-align:center;}
		}

	/* end newsletter widget */

    /* release notes updates */

        .updates ul {margin-left:3em;}
        .updates h1 {@extend .icon-clock;}
        .updates h1:before {padding-right:0.6em;}
        .updates h3 {@extend .icon-tag-fill;}
        .updates h3:before {padding-right:0.6em;}

    /* end release notes, updates */
	
/* end content */

/* footer */

	footer {background:$primary; color:$txt-on-primary; min-height:200px; margin-top:4em;}
	footer a {color:$txt-on-primary;}
	.ft1 {@extend .container;}

	footer h1 {font-size:1.8em;}
	
	footer ul {@extend %list-no-bullets;}
	
	.footer-header {text-align:center; @extend .center;}
	.footer-header .logo {float:none;margin:1em 0 0 0; font-family:"open sans";}
	.social-stuff {@extend .wrapper-white; padding:1.5em 2em 0.5em 2em;}
	.ss12 {position:relative; top:-0.6em; margin-right:0.5em;}

	.footer-inside {@extend .center;}
	
	.footer1, .footer2, .footer3, .footer4 {@extend .bx25;}
	
	.widget-footer-info {float:right;}
	.user-display {float:right; margin:1em 3em 0 0;}

/* end footer */


@import "respond";