/* columns - achieved with help of jquery plugin columnizer: http://welcome.totheinter.net/columnizer-jquery-plugin/*/

.column {@extend %border-box; padding:0 1em;}
.column.first {padding-left:0;}
.column.last {padding-right:0;}


.columns-2 {min-width:2px /* min-width is used to specify column count */;}
.list21, .list22 {width:50%; float:left; @extend %border-box; padding:0 8px 0 0; min-width:2px /* min-width is used to specify column count */;}
.list22 {padding: 0 0 0 8px;}
.list31, .list32, .list33 {width:33.3333333%; float:left; @extend %border-box; padding:0 8px; min-width:3px /* min-width is used to specify column count */;}
.list31 {padding:0 8px 0 0;}
.list33 {padding: 0 0 0 8px;}

/*
	.columns-2 li {width: 50%; float:left; @extend %border-box; padding:0 0.5em 0.2em 0.5em;}
	.columns-2 li:nth-child(odd) {padding-left:0;}
	.columns-2 li:nth-child(even) {padding-right:0;}
*/

.columns-3 li {width: 33%; float:left; @extend %border-box; padding:0 0.5em 0.2em 0.5em;}
.columns-3 li:nth-child(3n+1) {padding-left:0;}
.columns-3 li:nth-child(3n+3) {padding-right:0;}
 
 
/* columns except ie */

	/*
		.columns-2 {columns: 2; column-gap:20px; -moz-column-count: 2;	-moz-column-gap: 20px;-webkit-column-count: 2;-webkit-column-gap: 20px;}
		.columns-3 {columns: 3; column-gap:12px; -moz-column-count: 3;	-moz-column-gap: 12px;-webkit-column-count: 3;-webkit-column-gap: 12px;}
		.columns-4 {columns: 4; column-gap:12px; -moz-column-count: 4;	-moz-column-gap: 12px;-webkit-column-count: 4;-webkit-column-gap: 12px;}
		.columns-1 {columns: 1; column-gap:0; -moz-column-count: 1;	-moz-column-gap: 0;-webkit-column-count: 1;-webkit-column-gap: 0;}
	*/
/* end columns */