/* media element */
	
	.b-left {float:left; margin-right:12px;}
    .b-right {float:right; margin-left:12px;}
    .flex {display:table-cell; zoom:1; float:none; width:1000px;}
    
    .f-right {float:right; margin-left:5px; margin-bottom:5px;}
    .f-left {float:left; margin-right:5px; margin-bottom:5px;}