/* layout */

@mixin hide-visually {
position: absolute;
width: 1px; /* Setting this to 0 make it invisible for VoiceOver */
height: 1px; /* Setting this to 0 make it invisible for VoiceOver */
padding: 0;
margin: -1px;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}

@mixin center {@extend %border-box; width: 960px; margin:0 auto; display:block;}

@mixin border-box {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

@mixin bx($width:auto, $padding:0 12px){
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	float:left; 
	width:$width; 
	padding:$padding;
}

/* fixed and fluid layout */

@mixin fixed-left($width:150px) {
	float:left;
	width:$width;
	margin-left:-$width;
	position:relative;
	left:$width;
}

@mixin fluid-right($spacing-left:150px){
	float:left;
	margin-left:$spacing-left;
}