@mixin rotate($degree: 90deg, $origin:right bottom){
	transform:rotate($degree);
	-ms-transform:rotate($degree); /* IE 9 */
	-webkit-transform:rotate($degree); /* Opera, Chrome, and Safari */
    -ms-transform-origin: $origin; /* IE 9 */
    -webkit-transform-origin: $origin; /* Chrome, Safari, Opera */
    transform-origin: $origin;
}